.header    
  background-color: $bc_header  
.navbar      
  display: flex
  align-items: center
  justify-content: space-between
  min-height: 100px 
  &__work-time    
    display: flex 
    flex-direction: column
    align-items: center
    color: $primary_color
    font-size: 11px    
    font-weight: 700
    line-height: 24px          
    +pn_regular
  &__time
    font-weight: 700    
  &__work
    font-weight: 400
  &__phone
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    min-height: 46px        
  &__mobile
    font-size: 18px
    font-weight: 400
    +pn_black
    color: $primary_color
    text-decoration: none
  &__button
    color: $primary_color
    padding: 21px 28px
    background-color: $bc_header_button
    border: none
    font-size: 12px
    font-weight: 700
    text-transform: uppercase    
    +pn_regular


@media ( max-width:  768px)
  .navbar    
    &__work-time
      display: none
@media ( max-width:  560px)
  .navbar
    &__phone
      display: none
@media ( max-width:  400px)
  .navbar
    &__logo
      margin-right: 10px
    &__button      
      padding: 20px 10px
      
      
      
