.service
    &__title
        color: $second_color
        font-size: 36px
        font-weight: 400
        margin: auto
        text-align: center
        width: 830px
        margin-bottom: 100px
        +pn_black    
    &-list
        display: flex
        justify-content: space-around
        align-items: flex-start
        text-align: center
    &-item
        flex: 0 1 280px
        width: 33.33%
        &__text
            color: $second_color
            font-size: 18px
            font-weight: 400
            text-align: center
            margin-top: 40px
            +pn_regular
