.section-model
  background-color: $bc_section-model
.delivery
  padding-top: 100px
  max-height: 587px
  &__title
    color: $primary_color
    font-size: 36px
    font-weight: 400
    text-align: center
    margin-bottom: 30px
    +pn_black
  &__subtitle
    color: $primary_color
    font-size: 20px
    font-weight: 400
    text-align: center   
    margin-bottom: 99px 
    +pn_regular
  &__images
    display: flex
    justify-content: space-around
    align-items: center
    margin-bottom: 49px
  &__paragraphs
    display: flex
    justify-content: space-around
    align-items: flex-start
    text-align: center
    color: $primary_color
    font-size: 18px
    font-weight: 400
    padding-bottom: 99px
    +pn_regular



